body {
  margin: 0;
}

#root {
  font-family: "Google Sans", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;

  & h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }

  > header {
    display: flex;
    justify-content: space-between;
    padding-inline: 16px;
    height: 64px;
    align-items: center;
    flex-shrink: 0;
    background-color: bisque;

    > .logo {
      display: flex;
      gap: 8px;
      align-items: center;
      font-size: large;
      font-weight: bold;

      & svg {
        color: #ba788f;
      }
    }

    & a {
      color: #141b2c;
      text-decoration: none;
    }

    & nav {
      display: flex;
      align-self: stretch;

      > a {
        width: 128px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        box-sizing: border-box;
        /* font-size: small; */
        border: 4px solid transparent;

        &:hover {
          background-color: #005ac211;
        }

        &.active {
          color: #ba788f;
          border-bottom: 4px solid #ba788f;
        }
      }
    }
  }

  & .products {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 24px;
    padding: 16px 32px;

    > header {
      display: flex;
      padding: 16px 32px;
      align-items: center;
      justify-content: space-between;
      background-color: #005ac211;
      border-radius: 24px;

      > * {
        display: flex;
        gap: 16px;
        align-items: center;
      }

      > section > label {
        display: flex;
        flex-direction: column;
        gap: 4px;
        font-size: small;
      }

      & input,
      select {
        height: 24px;
        padding: 0 4px;
      }
    }

    > main {
      flex-grow: 1;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 32px;

      > .product {
        display: flex;
        flex-direction: column;
        border-radius: 24px;

        > img {
          max-width: 100%;
          border-top-left-radius: 24px;
          border-top-right-radius: 24px;
          border: solid beige;
          border-width: 5px 4px 0 4px;
        }

        > section {
          display: flex;
          flex-direction: column;
          gap: 8px;
          padding: 16px;
          background-color:beige;
          border-bottom-left-radius: 24px;
          border-bottom-right-radius: 24px;

          > h2 {
            font-size: medium;
          }

          > p {
            color: #444;
          }

          > div {
            display: flex;
            justify-content: space-between;
          }
        }
      }
    }

    > footer {
      display: flex;
      justify-content: center;
      gap: 16px;

      & .page-number {
        background-color: transparent;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        border: 1px solid #005ac2;
        color: #005ac2;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
          background-color: #005ac222;
        }

        &:disabled {
          background-color: #005ac2;
          color: white;
        }
      }
    }
  }

  > footer {
    padding: 8px 16px;
    text-align: center;
  }

  & .button {
    height: 40px;
    padding-inline: 24px;
    border-radius: 24px;
    border: none;
    cursor: pointer;
    min-width: 96px;
    font-weight: bold;

    &.button-filled {
      background-color:cornsilk;
      color: white;

      &:hover {
        background-color: #005ac2ee;
      }
    }

    &.button-tonal {
      background-color: #005ac222;
      color: #141b2c;

      &:hover {
        background-color: #005ac233;
      }
    }

    &:disabled {
      background-color: #005ac222 !important;
      cursor: not-allowed;
    }
  }

  & .dialog {
    position: absolute;
    background-color: white;
    background-image: linear-gradient(#005ac211, #005ac211);
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 32px;
    border-radius: 24px;
    box-shadow: 0 0 16px #0004;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 25%;

    > label {
      display: flex;
      flex-direction: column;
      gap: 4px;

      > input {
        padding: 0;
        height: 56px;
        padding-inline: 16px;
        font-size: medium;
      }
    }
  }

  & input,
  select {
    border: 1px solid #75777f;
    border-radius: 4px;
    outline-color: #ba788f;
  }

  & div:last-child:has(> button) {
    margin-top: 8px;
  }
}
